.topnav {
    background-color: #333;
    overflow: hidden;
    margin-top: -10px;
    margin-right: -10px;
    margin-left: -10px;
     
  }
  .topnav a {
    float:left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
    margin:0 80px; 
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    padding: 10px 10px;
    margin-top: 10px;
  }
  #Acceuil{
margin-top: -5px;
 background-image: url(maison1.jpg);
 background-size: cover;
 height: 800px;
 margin-right: -20px;
 margin-left: -129px
  }
body{
    overflow-x: hidden;
   
}
#conteneur
{
    display: flex;
   margin-bottom: -322px;
}
#conteneur2
{
    display: flex;
    
   
}


#conteneur3
{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
#conteneur3 .element-6{
    width: 343px;
}
#conteneur3 .element-6 img{
    width: 320px;
    height: 320px
}
#conteneur4 {
 
    display: flex;
    justify-content: center;
    align-items: center;
 
   margin-top: 100px;
   
}
#conteneur4 .element-7 img{
    width: 510px;
    padding: auto;
    margin-left: 50px;
    width: 500px;
}
p{
    margin: 76px;
   font-family: 'Dosis', sans-serif;
}

#conteneur5 
{
    display: flex;
    justify-content: space-between;
    margin-top:100px
  
}
#conteneur5 .element-8 img{
    width: 320px;
    height: 320px

}
h1{
    text-align: center;
    margin-top: 50px;
    font-family: 'Indie Flower', cursive;
}
#lire{
    margin-left: 87px;
   
}
input[type=text] ,textarea {
    width: 50%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  .container8 {
    border-radius: 5px;
    background-color: #b5b1b1;
    padding: 20px;
    margin-top: 100px;
  }
  .moni{
    margin-left: 60%;
    top: 620%;
    position: absolute;

  }
  div.element-6 button { 
    margin-left: 115px;
    padding: 15px 32px;
    background-color: #929194;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      border-radius: 12px;
  }
.container11{
  position: absolute;
  margin-top: 50%;
margin-bottom: 50%;
}

#ComboElargie{
  width: 256px;
  height: 39px;
  z-index: 1;
  
}
#conteneur10
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 162px;
  margin-top: -261px;
  width:100%;
  height:90px;
  background-color: #a5a2a2;
  border: 1px solid black;
  opacity: 0.6;

  
}
div.element-11 input {

  width: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: -1px;
  margin-bottom: 0px;
  resize: horizontal;

}
div.element-15 button{
  border-radius: 12px;
  padding: 13px 41px;
  text-align: center;
}
.container20{
  height: 44px;
  background-color: #b5b1b1;
}
